<mat-drawer-container class="example-container mat-typography">
  <mat-drawer #drawer mode="side" disableClose="true" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>Toys Factory</mat-icon>
        <h4>Person</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>Delivery</mat-icon>
        <h4>Assignment</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>Legal</mat-icon>
        <h4>Domain</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>Disconnect</mat-icon>
        <h4>Folder shared</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
